@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-navigation{
    padding: 3px 0;
    background-color: bisque;
    font-size: 0.8rem;
}
.navbar{
    padding: 0 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.logo{
    font-family: 'poppins',sans-serif;
    font-size: 1.8rem;
}
header .navbar .right ul a li{
    font-family: 'raleway',sans-serif;
    font-weight: 500;
    transition: transform 0.3s ease-in-out;
}
header .navbar .right ul a li:hover{
    transform: translateX(-4px);
}
header .navbar .right .cart{
    transition: 0.3s ease-in-out scale;
}
header .navbar .right .cart:hover{
    scale: 1.1;
}
.menu .bars{
    height: 2px;
    width: 30px;
    margin: 5px 0;
    background-color: black;
    transition: 0.3s ease-in-out transform;
}
@media (max-width: 630px) {
    header .navbar .right{
        height: 0px;
        overflow: hidden;
        background-color: black;
        width: 100vw;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.4s ease-in-out height;
        position: absolute;
        top: 65px;
    }
    header .navbar .right ul{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .right-visible{
        height: 100vh;
    }
    header .navbar .left .menu{
        display: block;
    }
    header .navbar .left{
        width: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header .navbar .left .cart{
        display: block;
    }
    header .navbar .left .hamclicked .bars:nth-child(1){
        transform: rotate(45deg) translateY(7px) translateX(5px);
    }
    header .navbar .left .hamclicked .bars:nth-child(2){
        transform: rotate(-45deg);
    }
    header .navbar .left .hamclicked .bars:nth-child(3){
        transform: rotate(45deg) translateY(-3px) translateX(-5px);
    }
}
@media (max-width: 740px) {
    header .navbar{
        padding: 0 70px;
    }
}
@media (max-width: 465px) {
    header .navbar{
        padding: 0 45px;
    }
}
@media (max-width: 380px) {
    header .navbar{
        padding: 0 30px;
    }
}